<!DOCTYPE html>
<html>
    <head>
        <title>Market-App</title>
        <link rel="icon" href="../../public/img/market.png">
         <link rel="stylesheet" href="./css/styles.css">
    </head>
      <body>
        <div class="main-content">
          
            <p>with this app you calculate all things at market and pay price without spent time in queu </p>

           

        </div>
          
         
    </body>
</html>