<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
        <a class="nav-link" href="/admin">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
        </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseBanks" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Banks</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseBanks">
            <li>
                <a href="/admin/banks">All Banks</a>
            </li>
            <li>
                <a href="/admin/banks/create">Create Bank</a>
            </li>
        </ul>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseStores" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Stores</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseStores">
            <li>
                <a href="/admin/stores">All Stores</a>
            </li>
            <li>
                <a href="/admin/stores/create">Create Store</a>
            </li>
        </ul>
    </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseInvoices" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Invoices</span>
        </a>
            <ul class="sidenav-second-level collapse" id="collapseInvoices">
                <li>
                    <a href="/admin/invoices">All Invoices</a>
                </li>
            </ul>
<!--        <ul class="sidenav-second-level collapse" id="collapseInvoices">-->
<!--            <li>-->
<!--                <a href="/invoices">All Invoice</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="/invoices/create">Add Item</a>-->
<!--            </li>-->
<!--        </ul>-->
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
        <a class="nav-link" href="/admin/userInfos">
            <i class="fa fa-fw fa-asterisk"></i>
            <span class="nav-link-text">Users</span>
        </a>
    </li>
</ul>